.progress-bar .bar > div {
  display: inline-block;
  height: 30px;
}

.progress-bar .bar > div:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.progress-bar .bar > div:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
